* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0062be;
    transition: 0.5s;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    position: relative;
}

/* animación subrayado menú */
header ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}
header ul a:hover::after {
    width: 100%;
}

/* contenido */
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.content .textBox p {
    color: #fff;
}

/* imagen Pepsi */
.content .imgBox {
    width: 600px;
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
    margin-top: 50px;
}

.content .imgBox img {
    width: 260px;
    height: 500px;
    object-fit: contain;
    animation: float 3s ease-in-out infinite;
    transition: transform 0.5s;
}



.content .imgBox img:hover {
    transform: scale(1.1) rotate(2deg);
}

/* animación */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}

/* thumbnails */
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

/* social icons */
.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    list-style: none;
    display: inline-block;
    margin: 5px 0px;
    transform: scale(0.6);
    transition: transform 0.3s;
}
.sci li a img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


.sci li a:hover {
    transform: scale(1);
}
.footer{
    background: #001a33;         /* oscuro para que combine con el azul */
    color: #fff;
    text-align: center;
    padding: 14px 10px;
    font-size: 14px;
    border-top: 1px solid rgba(255,255,255,0.2);
  }
  .footer p{
    margin: 0;
    opacity: 0.9;
  }
  
